In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [16]:
df = pd.read_csv('data/onlinefraud.csv')
df.head(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [23]:
df['type'] = df['type'].map({
    "CASH_OUT": 1, "CASH_IN": 2, "PAYMENT": 3, "DEBT": 4, "TRANSFER": 5
})

df['isFraud'] = df['isFraud'].map({
    0: "No Fraud", 1: "Fraud"
})

df.head(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,3.0,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,No Fraud,0
1,1,3.0,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,No Fraud,0
2,1,5.0,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,Fraud,0
3,1,1.0,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,Fraud,0
4,1,3.0,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,No Fraud,0

In [32]:
df = df.drop(['step', 'oldbalanceDest', 'newbalanceDest', 'isFlaggedFraud'], axis=1)

In [33]:
# Train Test Split
X = df.drop('isFraud', axis=1)
y = df['isFraud']

In [35]:
# Training the model
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=42)
model = DecisionTreeClassifier()
model.fit(xtrain, ytrain)
model.score(xtest, ytest)

0.9997076675960532

In [39]:
from sklearn.metrics import accuracy_score, precision_score,recall_score, f1_score, classification_report, confusion_matrix

y_pred = model.predict(xtest)

print(f"Accuracy Score: {accuracy_score(ytest, y_pred)}")
print(f"Precision Score: {precision_score(ytest, y_pred, average='weighted')}")
print(f"Recall Score: {recall_score(ytest, y_pred, average='weighted')}")
print(f"F1 Score: {f1_score(ytest, y_pred, average='weighted')}")
print(f"Confusion Matrix: {confusion_matrix(ytest, y_pred)}")
print(f"Classification Report: {classification_report(ytest, y_pred)}")

Accuracy Score: 0.9997076675960532
Precision Score: 0.9997064430435235
Recall Score: 0.9997076675960532
F1 Score: 0.9997070340778591
Confusion Matrix: [[   1427     193]
 [    179 1270725]]
Classification Report:               precision    recall  f1-score   support

       Fraud       0.89      0.88      0.88      1620
    No Fraud       1.00      1.00      1.00   1270904

    accuracy                           1.00   1272524
   macro avg       0.94      0.94      0.94   1272524
weighted avg       1.00      1.00      1.00   1272524

In [ ]:
# Testing the model
#input_features = np.array([[4, 9000.60, 9000.60, 0.0]])
#print(model.predict(input_features))